$white : #F5F5F5;
$black : #161816;
$green: linear-gradient(180deg, #40F214 0%, #15D028 100%);
$colorful: linear-gradient(90deg, #96FF00 0%, #DEFF00 50.83%, #9600FF 100%);

$main-font : 'Druk Text Wide Cyr';
$secondary-font : 'Montserrat';


