.pagination {
    margin-top: 60px;
    @include flex-row(15px, center);
    list-style: none;

    li {
        a {
            font-size: 16px;
            @include text-black();
            @include flex-row(0, center, center);
        }
        
        &.active, &:hover {
            @include text-green();
        }

        &.prev img{
            transform: scale(-1, -1);
        }

        &.prev {
            margin-right: 15px;
        }

        &.next {
            margin-left: 15px;
        }

        &.prev, &.next {
            transition: 0.15s;

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}